header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

#cool {
    font-size: 30px;
    color: green;
    margin-bottom: 40px;
    font-weight: bold;
}

#notCool {
    font-size: 30px;
    color: red;
    margin-bottom: 40px;
    font-weight: bold;
}

p {
    color: navy;
    font-size: 20px;
    padding-left: 50px;
}

p.makeRed {
    color: red;
    font-size: 20px;
}

article {
    margin-bottom: 40px;
}

img.resize {
    width: 1000px;
    height: 800px;
    padding-left: 25px;
}

body {
    background-color: khaki;
    font-family: 'Poppins';
}

footer {
    font-size: 20px;
    color: teal;
    font-weight: bold;
    text-align: center;
}